Checks: '*,-llvm-*,-llvmlibc-*,-modernize-use-trailing-return-type,-fuchsia-*,
-hicpp-*,-modernize-*,-cppcoreguidelines-avoid-c-arrays'
CheckOptions:
  - key: readability-identifier-length.IgnoredParameterNames
    value: ^[in]$